@mixin flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin margin-top-bottom{
  margin-top: 50px;
  margin-bottom: 50px;
}
