@import '../../abstract/mixins.scss';
@import '../../base/fonts.scss';

header {
    @include flex-center-column;
    justify-content: flex-end;
    width: 100%;
    height: calc(100vh - 104px);
}

.hero-section {
    max-width: 1440px;
    @include page-gutter;
    padding-left: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.foto-section {
    position: relative;

    .foto-section-bg {
        position: absolute;
        bottom: -20px;
        left: 0px;
        width: 100%;
        height: 600px;
        background: url(/assets/images/shape.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transform: rotate(-45deg);

    }

    &:hover .foto-section-bg {
        background-image: url(/assets/images/shape-hover.svg);
    }

    img {
        position: relative;
        width: 570px;
        max-width: 570px;
        object-fit: contain;
        left: 0px;
        bottom: -5px;
        
      
    }

    &.menu-open {

        width: 100%;    
        background: url(/assets/images/shape.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin-top: 25px;

        &:hover {
             background: url(/assets/images/shape.svg);
        }
    }
}

.foto-menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;

        li a {
            text-decoration: none;
            color: #262e34;
            font-family: 'Josefin Sans', sans-serif;
            cursor: pointer;
            font-weight: 500;
            font-size: 26px;
            transition: color 0.3s ease;

            &:hover {
                color: #007bff;
            }
        }
    }
}

.foto-menu-language {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .language-option {
        width: 36.8px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #262e34;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 500;
        font-size: 18px;
        cursor: pointer;

        &.active {
            background-image: url(/assets/images/bh-language.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            color: #ffffff;
        }
    }
}

.headline-section {

   flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 0;
    margin-bottom: 150px;
}

.logo-link-section {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 25px;

    >img {
        width: 80px;
        transition: transform 0.3s ease;

        &:hover {
            filter: brightness(1.2);
            transform: scalex(1.1);
        }
    }
}

.empty-section {
   width: 80px;
   height: 80px;
}

.links-section {
    width: 80px;
    height: auto;
    @include flex-center-column;
    align-items: flex-end;
    gap: 10px;

    a {
        width: 30px;
        height: 30px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        text-decoration: none;
    }
}

.email-link {
    background-image: url(/assets/icons/email-blue.svg);

    &:hover {
        background-image: url(/assets/icons/mail-blue-hover.svg);
    }
}

.linkedin-link {
    background-image: url(/assets/icons/linkedin-blue.svg);

    &:hover {
        background-image: url(/assets/icons/linkedin-blue-hover.svg);
    }
}

.github-link {
    background-image: url(/assets/icons/github-blue.svg);

    &:hover {
        background-image: url(/assets/icons/git-blue-hover.svg);
    }
}

.name-section {
    text-align: center;

    @media screen and (max-width: 1300px) {
        h1 {
            font-size: 48px;
        }

        p {
            font-size: 26px;
        }
    }
}

h1 {
    @include h1;
}

p {
    @include p;
}

.arrowdown {
    height: 89px;
    width: 38px;
    background-image: url(/assets/images/arrowdown-default.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &:hover {
        background-image: url(/assets/images/arrowdown-hover.svg);
        cursor: pointer;
    }
}

@media (max-width: 1380px) {

    h1{
        font-size: 78px;
    }
}


@media (max-width: 1024px) {
    header {
        justify-content: center;
        height: calc(100vh + 104px);
    }

    .hero-section {
        height: 100%;
        width: 100%;
        @include flex-center-column;
        padding-left: 25px;
        gap: 5px;
    }

    .foto-section {
        

        .foto-section-bg{
            width: 100%;
            height: 100%;
            align-items: center;
            transform: rotate(0deg);
            
        }

        img {
            bottom: -31px;
            width: 312px;
            height: 326px;
            -webkit-mask-image: url(/assets/images/shape.svg);
            mask-image: url(/assets/images/shape.svg);
            mask-size: 97% 100%;
            mask-repeat: no-repeat;
            mask-position: center bottom;
        }

        &:hover .foto-section-bg {
            background: url(/assets/images/shape.svg) no-repeat;
            background-size: contain;
        }

        &.menu-open {
            
            width: 311px;
            height: 326px;
            margin-bottom: -20px;
            

            .foto-section-bg {
                display: none;
            }

            &:hover {
                width: 312px;
                height: 326px;
                background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
            }
        }
    }
    
    .headline-section{
        flex: 0;
           margin-bottom: 0px;
           
        }

    .logo-link-section {
        display: none;
    }

    h1 {
        font-size: 48px;
    }

    p {
        font-size: 24px;
    }
}

@media (max-width: 450px) {


    .name-section h1 {
        font-size: 32px;
    }

    .name-section p {
        font-size: 16px;
    }
}