

<header>
    <section class="hero-section">
        <section class="foto-section">
            <img src="assets/images/foto-me.png" alt="foto from waldemar chorow">
        </section>
        <section class="headline-section">
            <section class="logo-link-section">
                <div class="empty-section"></div>
                <img src="assets/images/logo-default.png" alt="Logo">
                <section class="links-section">
                    <a href="mailto:waldemar.chorow@gmail.com"><img src="assets/icons/email-button.svg" alt="email picture"></a>
                    <a href="https://www.linkedin.com/in/waldemar-chorow-11460a31b/"><img src="assets/icons/linkedin-button.svg" alt="LinkedIn"></a>
                    <a href="https://github.com/WaldemarChorow"><img src="assets/icons/github-button.svg" alt="GitHub"></a>
                </section>
            </section>
            <section class="name-section">
                    <h1>Waldemar Chorow</h1>
                    <h2>DEVELOPER</h2>
            </section>
            <div class="arrowdown">

            </div>
        </section>
    </section>   
</header>
