@import '../../abstract/mixins.scss';
@import '../../base/fonts.scss';

header {
    @include flex-center-column;
    width: 100%;
    height: calc(100vh - 104px);
}

.hero-section{
    display: flex;
    gap: 5px;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    margin-top: 115px;
}

.foto-section{
    width: 594px;
    height: 710px;
    background: url(/assets/images/shape.svg) no-repeat center center;
    background-size: contain;
    background-size: 580px 616px;
    transform: rotate(-45deg);

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: rotate(45deg);
    }

    &:hover {
        background: url(/assets/images/shape-hover.svg) no-repeat center center;
    }
}

.headline-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo-link-section{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    > img {
        width: 80px;
        transition: transform 0.3s ease;
    }
    &:hover {
       > img {
            filter: brightness(1.2);
            transform: scalex(1.1);
        }
    }
}

.empty-section{
    width: calc(33% - 40px);
}   

.links-section{
    width: calc(33% - 40px);
    @include flex-center-column;
    align-items: flex-end;
    gap: 10px;
    > img {
        width: 30px;
    }
    a {
        color: #fff;
        font-size: 1.2rem;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
            color: #ff6347;
        }
    }
}

.name-section{
    text-align: center;
}

h1{
    @include h1;
}

p{
   @include p;
}

.arrowdown{
    height: 89px;
    width: 38px;
    background-image: url(/assets/images/arrowdown-default.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
   

    &:hover {
        background-image: url(/assets/images/arrowdown-hover.svg);
    }
}