<footer>
    <section class="footer-wrapper">
        <div class="copyright-section">
            <div class="links-row">
                <a routerLink="/imprint">{{ 'footer.imprint' | translate }}</a>
                <span class="separator">|</span>
                <a routerLink="/privacy">{{ 'footer.privacy' | translate }}</a>
            </div>
            <p>{{ 'footer.copyright' | translate }}</p>
        </div>
        <img src="/assets/images/logo-dark.png" alt="logo">
        <div class="link-section">
            <a href="https://github.com/WaldemarChorow" target="_blank" class="git-logo"></a>
            <a href="mailto:waldemar.chorow@gmail.com" class="mail-logo"></a>
            <a href="https://www.linkedin.com/in/waldemar-chorow-11460a31b/" target="_blank" class="linkedin-logo"></a>
        </div>
    </section>
</footer>
