<section class="mySkillsSection">
  <div class="mySkillsSection-wrapper">
    <h2>My Skills</h2>
    <div class="skillsContent">
      <div class="skillsImages"></div>
      <div class="skillsText">
        <p>I am currently learning</p>
        <div class="learningSkill-images">
          <div class="learSkill1"></div>
          <img src="" alt="" />
          <p>React</p>
          <div class="learSkill2">
            <img src="" alt="" />
            <p>Vue:js</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
