<section class="mySkillsSection" id="skills">
  <div class="mySkillsSection-wrapper">
    <h2>{{ 'skills.title' | translate }}</h2>
    <div class="skillsContent">
      <div class="skillsImages">
        @for (skill of skills; track skill.alt){
          <figure>
            <img [src]="skill.src" [alt]="skill.alt">
            <figcaption>{{ skill.alt }}</figcaption>
          </figure>
        }
      </div>
      <div class="skillsText">
        <p>{{ 'skills.learning' | translate }}</p>
        <div class="learningSkill-images">
          <div class="learSkill1">
            <img src="/assets/icons/react.svg" alt="React" />
          </div>
          <div class="learSkill2">
            <img src="/assets/icons/vue.svg" alt="Vue" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="letsTalkBtn letsTalkBtn-mobile" (click)="scroll.scrollTo('contact')"></button>
</section>
