<nav [class.subpage]="!isHome">
    <div class="nav-wrapper">
        <div class="logo"></div>
        <ul class="nav-menu">
            <li><a (click)="scroll.scrollTo('whyme')">{{ 'nav.whyme' | translate }}</a></li>
            <li><a (click)="scroll.scrollTo('skills')">{{ 'nav.skills' | translate }}</a></li>
            <li><a (click)="scroll.scrollTo('projects')">{{ 'nav.projects' | translate }}</a></li>
            <li><a (click)="scroll.scrollTo('contact')">{{ 'nav.contact' | translate }}</a></li>
        </ul>
        <div class="language-choice">
            <div class="language-option" [class.active]="lang.currentLang() === 'de'" (click)="lang.use('de')">DE</div>
            <div class="language-option" [class.active]="lang.currentLang() === 'en'" (click)="lang.use('en')">EN</div>
        </div>
        <div class="burger-menu" (click)="toggleMobileMenu()" [class.open]="isMobileMenuOpen()">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>

@if (!isHome && isMobileMenuOpen()) {
    <section class="foto-section menu-open">
        <nav class="foto-menu">
            <ul>
                <li><a (click)="scroll.scrollTo('whyme'); closeMobileMenu()">{{ 'nav.whyme' | translate }}</a></li>
                <li><a (click)="scroll.scrollTo('skills'); closeMobileMenu()">{{ 'nav.skills' | translate }}</a></li>
                <li><a (click)="scroll.scrollTo('projects'); closeMobileMenu()">{{ 'nav.projects' | translate }}</a></li>
                <li><a (click)="scroll.scrollTo('contact'); closeMobileMenu()">{{ 'nav.contact' | translate }}</a></li>
            </ul>
            <div class="foto-menu-language">
                <div class="language-option" [class.active]="lang.currentLang() === 'de'" (click)="lang.use('de')">DE</div>
                <div class="language-option" [class.active]="lang.currentLang() === 'en'" (click)="lang.use('en')">EN</div>
            </div>
        </nav>
    </section>
}
