@import '../../abstract/mixins.scss';
@import '../../base/fonts.scss';

nav {
    position: sticky;
    @include flex-center-center;
    top: 0;    
    height: 104px;
    width: 100%;
    background-color: #89BCD9;
    backdrop-filter: blur(10px);
    z-index: 1000;

    
}

.nav-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    padding: 0 25px;

    ul {
        width: 677px;
        height: 26px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin: 0;
        list-style: none;

        li {
            a {
                text-decoration: none;
                color: #262E34;
                font-weight: bold;
                transition: color 0.3s ease;
                font-family: Josefin Sans, sans-serif;
                font-weight: 500;
                font-size: 26px;
                cursor: pointer;

                &:hover {
                    color: #007BFF;
                }
            }
        }
    }
}

.logo {
    width: 80px;
    height: 80px;
    background-image: url(/assets/images/logo-dark.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.language-choice {
    @include flex-center-center;
    gap: 25px;

}

.language-option {
    width: 36.8px;
    height: 32px;
    @include flex-center-center;
    text-decoration: none;
    color: #262E34;
    font-weight: 500;
    transition: color 0.3s ease;
    font-family: Josefin Sans, sans-serif;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;


    &:hover,
    &.active {
        background-image: url(/assets/images/bh-language.svg);
        width: 36.8px;
        height: 32px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        color: white;
    }
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 6px;
    z-index: 1001;

    span {
        width: 28px;
        height: 3px;
        background-color: #ffffff;
        border-radius: 3px;
        transition: all 0.3s ease;
    }

    &.open {
        span {
            &:nth-child(1) {
                transform: rotate(45deg) translate(6px, 6px);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                transform: rotate(-45deg) translate(6px, -6px);
            }
        }
    }
}

@media (max-width: 1023px) {
    nav {
        position: absolute;
        top: 0;
        background-color: #252d33;
    }

    .foto-section.menu-open {
        position: fixed;
        top: 104px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1001;
        width: 312px;
        height: 326px;
        max-width: 90vw;
        background: #89bcd9;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .foto-menu {
            display: contents;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 25px;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 25px;

                li a {
                    text-decoration: none;
                    color: #262e34;
                    font-family: 'Josefin Sans', sans-serif;
                    font-weight: 500;
                    font-size: 26px;
                    cursor: pointer;
                    transition: color 0.3s ease;

                    &:hover {
                        color: #007bff;
                    }
                }
            }
        }

        .foto-menu-language {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            margin-top: 20px;

            .language-option {
                width: 36.8px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #262e34;
                font-family: 'Josefin Sans', sans-serif;
                font-weight: 500;
                font-size: 18px;
                cursor: pointer;

                &.active {
                    background-image: url(/assets/images/bh-language.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    color: #ffffff;
                }
            }
        }
    }

    .logo {
        width: 60px;
        height: 60px;
        background-image: url(/assets/images/logo-default.png);
    }

    .nav-wrapper ul.nav-menu {
        display: none;
    }

    .nav-wrapper{
        justify-content: space-around;
        gap: 200px;
    }

    .language-choice {
        display: none;
    }

    .burger-menu {
        display: flex;
    }
}