<section class="whyMeSection">
    <div class="whyMeSection-wrapper">
        <h2>Why Me</h2>
        <div class="whyMeContent">    
            <div class="location">
                <div class="locationIcon">
                    <img src="assets/icons/location-icon.svg" alt="location icon">
                </div>
                
                <p><span>I am</span> located in Bückeburg, Germany</p>
            </div>
            <div class="whyMeText">
                <p>As a developer, I bring a unique blend of creativity and technical expertise to the table. With a strong background in web development and a passion for problem-solving, I am dedicated to crafting innovative solutions that not only meet but exceed client expectations.</p>
                <button class="letsTalkBtn"></button>
            </div>
        </div>
    </div>
</section>
