@import '../../abstract/mixins.scss';
@import '../../base/fonts.scss';

.whyMeSection {
    width: 100%;
    @include flex-center-column;
    @include margin-top-bottom;
}

.whyMeSection-wrapper {
    width: 100%;
    @include flex-center-column;
    max-width: 860px;
    
}    

h2 {
    @include h2;
}

.whyMeContent {
    width: 100%;
    display: flex;
    gap: 10px;
}

.location {
    width: 460px;
    @include flex-center-center;
    align-items: flex-start;
    gap: 10px;

    p {
        font-family: Josefin Sans, sans-serif;
        font-weight: 400;
        color: #fff;
        width: 100%;
        font-size: 30px;
        margin: 0;
    }

    span {
        color: #89BCD9;
    }
}

.locationIcon {
    height: 100%;
    @include flex-center-center;
    align-items: flex-start;
    margin: 0;
    padding: 0;

    img{
        width: 75px;
        height: 68px;
    }
}

.whyMeText {
    width: 380px;
    @include flex-center-column;
    gap: 25px;
    p {
        font-family: Josefin Sans, sans-serif;
        font-weight: 500;
        color: #fff;
        font-size: 16px;
        margin: 0;
    }
}

.letsTalkBtn {
    width: 135px;
    height: 50px;
    position: relative;
    left: 29%;

    background-image: url(/assets/icons/letstalkbtn-default.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-image: url(/assets/icons/letstalkbtn-hover.svg);
    }

    &:active {
        background-image: url(/assets/icons/letstalkbtn-default.svg);
    }
}